@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Lexend", sans-serif;
}

@keyframes fade-in-up {
  0% { opacity: 1; transform: translateY(-20px); }
  100% { opacity: 0; transform: translateY(0); }
}
.animate-fade-in-up {
  animation: fade-in-up 10s ease-out infinite;
}
